main {
  display: block;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  /* gap: 12px; */
}

article {
  /* height: 40px; */
  margin-bottom: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* gap: 12px; */
}


h2 {
  color: hsl(0, 0%, 20%);
  margin: 0;
  padding: 0.25rem;
}

article > header {
  flex-basis: 250px;
  flex-shrink: 0;
  margin-right: 1rem;


  font-size: 15px;
  background-color: hsl(0, 0%, 90%);
  width: 250px;
  /* height: 75px; */
  vertical-align: top;
  align-content: stretch;
  /* margin-bottom: 1em; */
  /* background: yellow; */
}

section {
  align-self: top;
}



svg {
  height: 73px;
}

  #expanded_chart svg {
    height: 146px;
  }

/* table */

section#data-table {
  /* width: 800px;
  overflow-x: scroll; */
}
