@font-face {
  font-family: Raphigrafie;
  src: url("../sparkbraille/assets/Raphigrafie.ttf") format('truetype');
  /* src: url("Raphigrafie.ttf") format('truetype'); */
}

#braille_linechart,
#braille_linechart-input {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  width: 100%;
  /* border: none; */
}

#record_count_input {
  width: 2.5rem;
}

button {
  border: thin solid hsl(0, 0%, 80%);;
}

label {
  margin-right: 1.5rem;
}

main {
  /* font-size: 50px; */
  margin-top: 1rem;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-family: Raphigrafie, sans-serif;
  word-spacing: 0.7rem;
  text-transform: lowercase;
}

div.demo h2 {
  font-weight: normal;
  font-size: 1rem;
}

div.demo p,
#data_tuple_label {
  font-size: 0.9rem;
}

#data_tuple_label {
  display: block;
  margin-top: 0.5rem;
}

[role=textbox] pre {
  display: inline;
  margin: 0;
  padding: 0;
}

/* table */
div.demo section#data-table {
  display: inline-block;
  overflow-x: scroll;
}

div.demo table {
  font-size: 15px;
  border-collapse: collapse;
  /* height: 6rem; */
}

div.demo th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid  hsl(0, 0%, 60%);
}

div.demo th {
  text-align: center;
}

.hilite {
  color: hsl(0, 0%, 99%);
  background-color: hsl(0, 0%, 35%);
}

p.dots {
  text-align: justify;
  text-justify: inter-character;
  /* text-justify: inter-word; */
}

/* skip link */
a#skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
 
a#skip:focus {
  position: static;
  width: auto;
  height: auto;
}

/* project description */
#project-description {
  max-width: 40rem;
  margin: auto;
}

img.braille-glyph {
  width: 150px;
}

img.braille-glyph:nth-of-type(1) {
  float: left;
}

img.braille-glyph:nth-of-type(2) {
  float: right;
}
